body, html {
    height: 100%;
}

.wrapper {
    background: rgb(241,236,186);
background: linear-gradient(180deg, rgba(241,236,186,1) 0%, rgba(255,249,206,1) 45%, rgba(75,75,75,1) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    display: flex;
    flex-direction: column;
    background-image: url(images/silk.jpg);
    width: 55vmin;
    height: 85vmin;
    border-radius: 25px;
    box-shadow:10px 10px 50px black;
}

.row {
    display: flex;
    flex-direction: row;
}

.app {
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    width: 7vmin;
    height: 7vmin;
    margin: 1.6em;
    box-shadow:10px 10px 50px black;
}

a:hover {
    background-color: white;
    opacity: 50%;
    border-radius: 30px;
}

.angel {
    background-image:url(images/angel.jpg);
    background-size: 125%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.pianoroom {
    background-image: url(images/pianoroom.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.skull {
    background-image: url(images/skull.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.whitecloud {
    background-image: url(images/whitecloud.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.perfume {
    background-image: url(images/perfume.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.bigroom {
    background-image: url(images/bigroom.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.bluecloud {
    background-image: url(images/bluecloud.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.piano {
    background-image: url(images/piano.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.angelpainting {
    background-image: url(images/angelpainting.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.harp {
    background-image: url(images/harp.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.shirt {
    background-image: url(images/shirt.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.sunny {
    background-image: url(images/sunny.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.swan {
    background-image: url(images/swan.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.crown {
    background-image: url(images/crown.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.THEpainting {
    background-image: url(images/THEpainting.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.arms {
    background-image: url(images/arms.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.pain {
    background-image: url(images/pain.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.clouds {
    background-image: url(images/clouds.jpg);
    background-size: 125%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.handsmirror {
    background-image: url(images/handsmirror.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.pretty {
    background-image: url(images/pretty.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.fountain {
    background-image: url(images/foutain.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.hands {
    background-image: url(images/hands.jpg);
    background-size: 135%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.violin {
    background-image: url(images/violin.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.chandiler {
    background-image: url(images/chandiler.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.notif {
    background-color: red;
    color:whitesmoke;
    width: 2.5vmin;
    height: 2.5vmin;
    border-radius: 10px;
    font-size: 14px;
    position: relative;
    left: 37px;
    bottom: 7px;
}

.bubble {
    position: relative;
    left: 5px;
    top: 1px;
}

.notif-piano {
    background-color: red;
    color:whitesmoke;
    width: 2.5vmin;
    height: 2.5vmin;
    border-radius: 10px;
    font-size: 12px;
    position: relative;
    left: 37px;
    bottom: 7px;
}

.bubble-piano {
    position: relative;
    left: 2.5px;
    top: 2px;
}

.notif-swan {
    background-color: red;
    color:whitesmoke;
    width: 2.5vmin;
    height: 2.5vmin;
    border-radius: 10px;
    font-size: 12px;
    position: relative;
    left: 37px;
    bottom: 7px;
}

.bubble-swan {
    position: relative;
    left: 2.8px;
    top: 2.5px;
}

.notif-violin {
    background-color: red;
    color:whitesmoke;
    width: 2.5vmin;
    height: 2.5vmin;
    border-radius: 10px;
    font-size: 14px;
    position: relative;
    left: 37px;
    bottom: 7px;
}

.bubble-violin {
    position: relative;
    left: 5.6px;
    top: 1px;
}

